@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Long+Cang&family=Mogra&family=Pirata+One&family=Rouge+Script&family=Satisfy&display=swap');

body {
    margin:0;
    padding:0;
    background-color: blueviolet;
    font-family: Verdana: 
}

header, nav, section, footer, #wrap {
    background-color: indigo;
}

#wrap {
    width: 80%;
    margin: 0 auto;
}



nav{
    background-color:#1a787c;
    padding: 30px;
    text-align:center;
}

nav li{
    display: inline;
}

nav ul{
    margin:20;
    padding:20;
}

nav a{
    color: white;
    font-size: 120%;
    text-decoration: none;
    padding: 20px 15px;
}

nav a:hover {
    background-color: #830f27;
    color: lightblue;
}

section {
    padding: 20px 40px 20px 40px;
    overflow: auto;
}

footer{
    background-color: #830f27;
    color: white;
    text-align: center;
    padding: 10px;
}

.kayn{
    zoom: 39%;
    float: left;
}




a.button {
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 10px;
    font-size:150%;
}

a.button:hover {
    background-color: cadetblue;
    color: yellow;
}

.long-cang-regular {
  font-family: "Long Cang", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 130%;
}