@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000 url("bg.jpg") no-repeat center top;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#wrap {
	width: 1000px;
	margin: 0 auto;
}
header {
	clear: both;
	text-align:center;
}
#logo {
	padding: 10px;
}
nav {
	padding: 10px;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav li {
	display: inline;
	margin: 0 30px;
}
nav a {
	color: #133450;
	font-size:30px;
	text-decoration:none;
	font-weight: bold;
	font-family: 'Permanent Marker', cursive;
}
nav a:hover {
	color: white;
}
section {
	background-color:rgba(0,0,0,0.3);
}
.welcome {
	padding: 10px 15px;
	margin: 20px 0;
	overflow: auto;
}
footer {
	background-color: transparent;
	padding: 10px;
	color: white;
	text-align: center;
	clear: both;
}
footer a {
	color: #8CF0EF;
}

h1 {
    font-size:72px;
    color: white;
    font-family: "Gerogia, serif";
    margin-bottom: auto;
}

h2 {
    font-size: 25px;
    color: #8cf0ef;
    font-family: "Gerogia, serif";
}

figure1 {
    width: 27%;
    background-color: black;
    padding: 1%;
    text-align: center;
    float: left;
    margin: 2.1%;
    border: 2px solid white;
    padding: inherit;

}

figcaption {
    color:white;
    font-family: "Arial, sans-serif;
    font-size: 90%
}